<%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/navigation') %>
  <%- include('../partials/sliding-navigation') %>

  <div class="main flex justify-center">
    <%- include('../partials/sidemenu'); %>
    <div class="md:w-5/6">
      <div class="text-xl font-bold text-gray-700"><%= pageTitle %></div>      
      <div class="overflow-scroll h-screen">
      <% if(products.length === 0){%>
        <div>
          This seems to be empty :(
        </div>
      <%}%>
      <% products.forEach(product => { %>
      <div class="my-4">
        <div class="rounded overflow-hidden shadow-lg md:flex justify-around py-4">
          <div class="">
            <img class="img" src="/<%= product.imageUrl %>" alt="<%= product.name %>">
          </div>
          <div class="flex flex-col ">
            <div class="px-6 py-2 ">
              <a href="/product/<%= product.id %>" class="hover:underline hover:text-blue-500 text-blue-700 font-bold">
                <%= product.name %>
              </a>
              <p class="font-bold text-base">
                ₹<%= product.price %>
              </p>
            </div>
            <div class="px-6 py-2">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"><%= product.description %></span>
            </div>
            <div class="px-6 py-2 flex">
              <div class="px-6 py-2">
                <form action="/admin/edit-product/<%= product.id %>" method="GET">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                  <input type="hidden" name="productId" value="<%= product.id %>">
                </form>
              </div>
              <div class="px-6 py-2">
                <form action="/admin/delete-product" method="POST">
                  <input type="hidden" name="productId" value="<%= product.id %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <% }) %>
      </div>
    </div>
  </div>
<%- include('../partials/bottom-nav'); %>
<%- include('../partials/end') %>