<%- include('partials/head'); %>
</head>
<body>
  <%- include('partials/navigation'); %>
<%- include('partials/bottom-nav'); %>
  <div class="main flex border justify-center mb-16">
    <%- include('partials/sidemenu'); %>
    <div class="md:w-5/6 mx-6">
      <div class="text-xl font-bold text-gray-700"><%= pageTitle %></div>
      <div class="border">
        <div class="px-4 py-2 font-bold text-gray-800 text-2xl">Username: <span class="font-normal"><%= user.name %></span></div>
        <div class="px-4 py-2 font-bold text-gray-800 text-2xl">Email: <span class="font-normal"><%= user.email %></span></div>
        <div class="px-4 py-2 font-bold text-gray-800 text-2xl">Account created: <span class="font-normal"><%= user.date %></span></div>
        <div class="px-4 py-2 font-bold text-gray-800 text-2xl">Account created: <span class="font-normal"><%= 'address' %></span></div>
        <div class="px-4 py-2 font-bold text-gray-800 text-2xl">Account created: <span class="font-normal"><%= 'acc details' %></span></div>
        <div class="px-4 py-2 font-bold text-gray-800 text-2xl">Account created: <span class="font-normal"><%= 'user.date' %></span></div>
      </div>
    </div>
  </div>

  <%= isAuthenticated %> <br>
  Email: <%= email %><br>
<%- include('partials/end'); %>
