<%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/navigation'); %>
  <h1><%= pageContent %></h1>
  <%- include('../partials/footer'); %>
  <%- include('../partials/end'); %>