<%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/navigation'); %>
  <h3><%= pageContent %></h3>
  <%- include('../partials/footer'); %>
  <%- include('../partials/end'); %>