<%- include('../partials/head'); %>
</head>
<body>
<%- include('../partials/navigation'); %>


<%- include('../partials/sliding-navigation'); %>
  <div class="flex flex-col">
    <% products.forEach(product => { %>
      <div class="md:w-1/5 m-2">
      <a href="/product/<%= product.id %>">
        <div class="rounded overflow-hidden shadow-lg">
          <img class="" src="<%= product.imageUrl %>" alt="<%= product.name %>">
          <div class="px-6 py-2">
            <div class="font-bold text-xl mb-2"><%= product.name %></div>
            <p class="text-gray-700 text-base">
              ₹<%= product.price %>
            </p>
          </div>
          <div class="px-6 py-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"><%= product.description %></span>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
    <%- include('../partials/footer'); %>
  </div>
  <%- include('../partials/end'); %>