<%- include('../partials/head'); %>
<style>
  .product-container{
    flex: 1 1 auto;
  }
</style>
</head>
<body>
<%- include('../partials/navigation'); %>
<%- include('../partials/sliding-navigation'); %>
<%- include('../partials/bottom-nav'); %>
<%- include('../partials/categories')%>
  <div class="flex border justify-center mb-16">
    <%- include('../partials/sidemenu'); %>
    <div class="md:w-5/6 w-full">
      <div class="text-xl font-bold text-gray-700"><%= pageTitle %></div>
      <div class="product-container flex flex-col border md:flex-row">
        <% products.forEach(product => { %>
        <div class="md:w-1/5 w-full m-2 inline-block mx-auto text-center">
          <a href="/product/<%= product.id %>">
            <img class="img mx-auto" src="<%= product.imageUrl %>" alt="<%= product.name %>">
          </a>
          <div class="rounded overflow-hidden shadow-xl">
            <div class="px-6 py-2">
              <div class="flex justify-center md:justify-between">
                <div class="font-bold text-xl mb-2"><%= product.name %></div>
                <div class="text-xl hidden">
                  <i class="fas fa-heart text-blue-500"></i>
                </div>
              </div>
              <p class="text-gray-700 text-base">
                ₹<%= product.price %>
              </p>
            </div>
            <div class="px-6 py-2">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"><%= product.description %></span>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <% if(lastPage > 0){ %>
        <%- include('../partials/pagination'); %>
      <% } %>
    </div>
  </div>
<%- include('../partials/end'); %>